<div id="builder">
  <form>
    <div><input type="text" id="subdomain" placeholder="Name" /> <%= @site.name.downcase %>.</div>
    <div><button type="submit">Go</button></div>
  </form>
</div>
<div id="extra"></div>

<script>
Event.observe("builder", "submit", function(e) {
  var subdomain = $F("subdomain").toLowerCase().replace(/\s+/g, ".").replace(/[^a-z\.\_]/g, "");
  
  if (subdomain != "") 
    window.location = ("http://" + subdomain + ".<%= @site.domain %>").replace(/\.{2,}/, ".");
  else
    alert("You have to put in a name first.")
    
  Event.stop(e);
});
</script>