<ul id="links">
  <li><a id="customize" href="http://<%= @site.domain %>">Customize</a></li>
  <li><a id="tweet_this" href="<%= @tweet_this_url %>">Tweet This!</a></li>
</ul>
<div id="message">
  <div class="hook">
    <%= @message.render(@name) %>
  </div>
</div>
<div id="extra"></div>