<h1>Welcome</h1>
<h3>Top 10 Sites Today</h3>
<ol>
  <% @top_subdomains_today.each do |subdomain| %>
    <li><%= link_to "#{subdomain.name}.#{subdomain.site.domain}", "http://#{subdomain.name}.#{subdomain.site.domain}" %> <span class="quiet">(<%= subdomain.views_today %>)</span></li>
  <% end %>
</ol>