article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  margin:0;
  padding:0;
}

html {
  background-color: #000;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
}

h1 {
  font-size: .1em;
  text-indent: -1000em;
}

#message {
  color: #222;
  font-family: Georgia;
  font-size: 300%;
  text-align: center;
  padding: 2em;
  background-color: #FFC;
  width: 8em;
  margin: 1em auto 0 auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFDE), to(#EEEBD8));
  text-shadow: 1px 2px 0 rgba(250, 250, 250, 1);
}

#extra {
  background-image: url(/images/little-dude.png);
  width: 220px;
  height: 225px;
  display: block;
  margin: -2.2em auto 5em auto;
}

#links {
  font-size: 92%;
  padding: .5em;
  position: absolute;
  right: 0;
  top: 0;
}

#links ul {
  overflow: auto;
}

#links li {
  background-color: #222;
  display: block;
  float: left;
  margin-left: .25em;
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
}

#links a {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: .5em .75em;
  text-decoration: none;
}

footer {
  color: #282828;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 1em;
  width: 500px;
}

footer a {
  color: #282828;
}

footer h2 {
  color: #555;
  font-weight: bold;
  margin-bottom: .4em;
}

footer li {
  margin-bottom: .25em;
}

#tweets, #hits {
  float: left;
  margin-right: 2em;
  width: 17em;
}

#tweets a.user {
  font-weight: bold;
}

